<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div class="pagination"><%= will_paginate models %></div>
<h4><%= @title %></h4>
    <table class="table table-striped">
		<tr>
			<th>#</th>
			<th><%= t('Checkout Date') %></th>
			<th><%= t('Item Name') %></th>
			<th><%= t('Spec') %></th>
			<th><%= t('Requisition Qty/Unit') %></th>
			<th><%= t('Out Qty/Unit') %></th>				
			<th><%= t('Checkout By') %></th>
			<th><%= t('Last Updated By') %></th>
			<th></th>
			<th></th>
			
		</tr>
		<% models.each do |r| %>
		  <tr>
		  	<% item = RequisitionCheckoutx.item_class.find_by_id(r.item_id)%>
		  	<% if has_action_right?('show', params[:controller], r) %>
		  	  <td><%= link_to r.id, SUBURI + "/authentify/view_handler?index=1&url=#{checkout_path(r)}" %></td>
		  	<% else %>
		  	  <td><%= r.id %></td>
		  	<% end %>
		  	<td><%= r.checkout_date.strftime("%Y/%m/%d") if r.checkout_date.present? %></td>
		  	<% if has_action_right?('show', 'material_requisition/requisitions', RequisitionCheckoutx.item_class.find_by_id(r.item_id))%>
		  	  <td><%= link_to r.name, SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + material_requisitionx.requisition_path(:id => r.requisition_id)}" %></td>
		  	<% else %>
		  	  <td><%= item.name %></td>
		  	<% end %>
		  	<td><%= item.spec %></td>
		  	<td><%= item.qty %>/<%= item.unit %></td>
			<td><%= prt(r, :checkout_qty) %>/<%= r.unit %></td>
			<td><%= prt(r, 'checkout_by.name') if r.checkout_by_id.present? %></td>
			<td><%= prt(r, 'last_updated_by.name') if r.last_updated_by_id.present? %></td>    
			<td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_checkout_path(r)}", :class => BUTTONS_CLS['action']  if has_action_right?('update', params[:controller], r) %></td>
			
		  </tr>
		<% end %>
	</table>
	
	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
	    	&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('New Checkout'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape new_checkout_path(project_id: @project.id, item_id: @item.id) }", :class => BUTTONS_CLS['action']  if @project && @item && has_action_right?('new_checkout', params[:controller]) %>
	    	
	    </th>
	  </tr>
	</table>
<% end %>

