<% if params[:checkout][:field_changed] == 'item_id' %>
  <% if @item_id.present? %>
    <% item = RequisitionCheckoutx.item_class.find_by_id(@item_id)%>
    <% if item %>
      $('#checkout_name').val("<%=item.name%>");
      $('#checkout_spec').val('<%=item.spec%>');
      $('#checkout_requested_qty').val('<%=item.qty%>');
      $('#checkout_unit').val('<%=item.unit%>');  
      $('#checkout_checkout_qty').val('');
      $('#checkout_brief_note').val(''); 
      $('.checkout_list_item').empty();
      <% i = 0%>
      <% RequisitionCheckoutx.warehouse_class.where('stock_qty > ?', 0).where(:name => @item.name)order('created_at').each do |r| %>
        $('.checkout_list_item').append('<li>#<%=r.id%>,<%=r.stock_qty%><%=r.unit%>,<input type="text",size="10",name=""></li>')
        <% i += 1%>
      <% end %>   
    <% else %>
      $('#checkout_name').val('');
      $('#checkout_spec').val('');
      $('#checkout_requested_qty').val('');
      $('#checkout_unit').val('');
      $('#checkout_checkout_qty').val('');
      $('#checkout_brief_note').val('');
      $('.checkout_list_item').empty();
    <% end %> 
  <% else %>
    $('#checkout_name').val('');
    $('#checkout_spec').val('');
    $('#checkout_requested_qty').val('');
    $('#checkout_unit').val('');
    $('#checkout_checkout_qty').val('');
    $('#checkout_brief_note').val('');
    $('.checkout_list_item').empty();
  <% end %>
  $('#checkout_field_changed').val('');
<% end %>