<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div id="main_body">
<h4><%= @title %></h4>

<p>
  <b><%= t('Item Name') %></b>
  <%= @checkout.item.name %>
</p>
<p>
  <b><%= t('Spec') %></b>
  <%= @checkout.item.spec %>
</p>
<p>
  <b><%= t('Out Qty')  %></b>
  <%= @checkout.checkout_qty %>/<%= @checkout.unit %>
</p>
<p>
  <b><%= t('Checkout Date') %></b>
  <%= @checkout.checkout_date.strftime("%Y/%m/%d") if @checkout.checkout_date.present?%>
</p>
<p>
  <b><%= t('Checkout By') %></b>
  <%= @checkout.checkout_by.name if @checkout.checkout_by_id.present? %>
</p>
<p>
  <b><%= t('Last Updated By') %></b>
  <%= @checkout.last_updated_by.name if @checkout.last_updated_by_id.present? %>
</p>
<p>
  <b>LOG：</b>
  <% Commonx::Log.where('resource_id = ? AND resource_name = ?', @checkout.id, params[:controller].sub('/', '_')).order("created_at DESC").each do |t| %>
    <li><%= t.created_at.strftime("%Y/%m/%d") %>,&nbsp; <%= t.last_updated_by.name %>,&nbsp; <%= t.log %> </li>
  <% end %>
</p>
   <table class="table table-striped">
	  <tr>
	    <th>
  	  	  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>
 		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <%= link_to t('New Log'), SUBURI + commonx.new_log_path(:resource_id => @checkout.id, :resource_name => params[:controller], :subaction => 'item_checkout', :format => :js), :remote => true, 
                          :id => 'new_log_link', :class => BUTTONS_CLS['action'] if has_action_right?('create_item_checkout', 'commonx/logs') %>
        </th>
	  </tr>
	</table>    	
</div>

<% end %>
